html, body {
    height: 100%;
    width: 100%;
  }
  
  body {
      text-align: center;
      background: url('yesorno.jpeg');
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgb(92,92,92);
  }
  
  h1 {
      color: #a41623;
  }
  
  button {
      background-color: rgb(92,92,92);
      color: white;
      padding: 3px 20px;
      border-radius: 50%;
  }
  
  h2 {
      /* color: #6c464f; */
      color: #a41623;
      font-size: 55px;
  }
  
  

  